@import "tailwindcss";

.sniglet-regular {
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
}

.yuyu-regular {
  font-family: "Yuyu", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.exo{
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.fraunces {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}


.exo-2 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.orbitron{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.cause{
  font-family: "Cause", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.englebert-regular {
  font-family: "Englebert", cursive;
  font-weight: 400;
  font-style: normal;
}
